.navbar{
    border: 1px solid rgb(10, 10, 10);
    width: 100%;
     display:flex;
     
}
.inputBoxx{
    margin: 1vW;
width:100vW;
height: 4vW;
font-size: 2vW;
border-radius: 10px 10px;

}
.inputButton{
    margin: 1vW;
    width:9vW;
    height: 4.1vW;
    border-radius: 10px 10px;
    font-size: 2vW;
}
.outerLink{
    border: 0px solid rgb(15, 15, 15);
     margin-left: 30vW;
     
     justify-content:right;
}
.link{
margin: 10px 10px;
text-decoration: none;
font-size: 2.5vW;
font-weight: bolder;
color: white;
}
.link:active{
    color: red;
    transform: scale(1.1);
}
.link:hover{
    transform: scale(1.1);
}
.Vlogo{
    width: 6vW;
    border: 1px solid rgb(0, 238, 255);
    border-radius: 100%;
    box-shadow: 2px -2px 10px;
   
}